// BLOG STYLES

.blog-container {
    display: flex;
    justify-content: space-between;

    .blog-section {
        width: 65%;
    }
    
    .blog-aside {
        width: 25%;
    }
}

.blog-article,
.blog-aside-container {
    background: $secondaryColor;
    color: $secondaryTextColor;
}

.blog-article {
    border-right: 10px solid $accentColor;
    border-bottom: 10px solid $accentColor;
    position: relative;

    &::before {
        content: '';
        display: block;
        height: 510px;
        background: $accentColor;
        position: absolute;
        top: -150px;
        left: 40px;
        right: -10px;
        z-index: 1;
    
    }

    .blog-img-container {
        position: relative;
        left: -20px;
        top: -180px;
        z-index: 2;        
        
    }
}

.blog-text-container {
    margin-top: -100px;
    padding: 0 50px 50px 7.75vw;
    
    .blog-date {
        color: $primaryColor;
    }
    
    h2 {
        font-size: 2rem;
        letter-spacing: 4.3px;
    }
}

// Aside styles

.blog-aside-container {
    margin-top: 100px;
    padding-top: 300px;
    position: relative;

    .blog-aside-text {
        padding: 30px 40px;
        border: 1px dashed lime;
    }
}

.aside-img-container {
    width: calc(100% - 30px);

    // THIS MADE THE ASIDE FLOAT UP
    position: absolute;
    right: 0;
    top: -30px;

}

// comments
.comments-section {
    padding: 50px 50px 0px 7.75vw;

    p.comment-date {
        color: $secondaryColor;
        font-weight: bold;
    }
    
    h3 {
        font-size: 2rem;
        letter-spacing: 4.3px;
        color: $tertiaryColor;
    }
}

.blog-comment {
    display: flex;
    margin-top: 50px;

    .commenter-img {
        min-width: 15%;
        margin-right: 30px;
    }

    .comment-text-container {
        p:first-of-type {
            margin-top: 0;
        }

        p {
            margin-top: 5px;
        }
    }
}

.comment-form-section {
    padding: 0 0 0 7.75vw;
}

.comment-form {
    @include formStyles($primaryColor, $primaryTextColor);

    input[id="name"],
    input[id="email"],
    textarea {
        @include formStyles($primaryColor, $primaryTextColor);
    }

    button {
        @include buttonStyles($secondaryColor, $secondaryTextColor);
    }
}
