// BLOG STYLES

.blog-container {
    display: flex;
    justify-content: space-between;

    .blog-section {
        width: 60%;
    }
    
    .blog-aside {
        width: 25%;
    }
}


//

.blog-article {
    border-right: 10px solid $accentColor;
    border-bottom: 10px solid $accentColor;
    
    p.blog-date {
        color: $primaryColor;
    }

    img {
        box-shadow: 30px 30px 0px $accentColor;
        position: relative;
        top: -150px;
        left: -10px;
    }

    .blog-text-container {
        padding-left: 7.5vw;

        h2 {
            font-size: 2rem;
            letter-spacing: 4.3px;
        }
    }
}


.blog-article,
.blog-aside-container {
    background: $secondaryColor;
    color: $secondaryTextColor;

    img {
        width: 100%;
    }
}


// BLOG SIDEBAR 



// comments
.comments-section {

    p.comment-date {
        color: $secondaryColor;
        font-weight: bold;
    }
    
    h3 {
        font-size: 2rem;
        letter-spacing: 4.3px;
        color: $tertiaryColor;
    }
}

.blog-comment {
    display: flex;
}


.comment-form {
    @include formStyles($primaryColor, $primaryTextColor);

    input[id="name"],
    input[id="email"],
    textarea {
        @include formStyles($primaryColor, $primaryTextColor);
    }

    button {
        @include buttonStyles($secondaryColor,$secondaryTextColor);
    }
}
