// BLOG STYLES

.blog-container {
    display: flex;
    justify-content: space-between;

    .blog-section {
        width: 60%;
    }
    
    .blog-aside {
        width: 25%;
    }
}


//

.blog-article {
    border-right: 10px solid $accentColor;
    border-bottom: 10px solid $accentColor;
    
    .blog-img-container {
        position: relative;
        top: -150px;
        z-index: 1;

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 350px;
            background: $accentColor;
            position: absolute;
            top: 30px;
            left: 30px;
            z-index: -1;
        }
    }
}

.blog-text-container {
    padding: 0 30px 30px 7.5vw;
    
    .blog-date {
        color: $primaryColor;
    }
    
    h2 {
        font-size: 2rem;
        letter-spacing: 4.3px;
    }
}


.blog-article,
.blog-aside-container {
    background: $secondaryColor;
    color: $secondaryTextColor;

    img {
        width: 100%;
    }
}

.blog-aside-container {
    margin-top: 100px;

    .blog-aside-text {
        padding: 30px 40px;
        border: 1px dashed lime;
    }
}

.blog-aside-container img {
    &::after {
        content: '';
        display: block;
        width: 300px;
        height: 300px;
        background: $accentColor;
        z-index: 10;
    }
}


// comments
.comments-section {

    p.comment-date {
        color: $secondaryColor;
        font-weight: bold;
    }
    
    h3 {
        font-size: 2rem;
        letter-spacing: 4.3px;
        color: $tertiaryColor;
    }
}

.blog-comment {
    display: flex;
}


.comment-form {
    @include formStyles($primaryColor, $primaryTextColor);

    input[id="name"],
    input[id="email"],
    textarea {
        @include formStyles($primaryColor, $primaryTextColor);
    }

    button {
        @include buttonStyles($secondaryColor, $secondaryTextColor);
    }
}
