body,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

html {
    font-size: 125%;
}

body {
    font-family: $primaryFont;
    font-size: $bodyFontSize;
    color: $primaryTextColor;
    line-height: 28px;
    letter-spacing: 2px;
    background: $primaryColor;
}

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;

    border-left: 1px solid lime;
    border-right: 1px solid lime;
}

section {
    padding: 100px 0;
}

h1,
h2,
h3, 
h4,
h5,
h6 {
    font-family: $secondaryFont;
    color: $secondaryColor;
}

h5 {
    border: 1px dashed deeppink;
}

h6 {
    border: 1px dashed deepskyblue;
    color: $secondaryTextColor;
}

// SHOULD FONt-SIZE BE in REM? OF COURSE THEY SHOULD

// Textiles for all
// h1 {
//     font-size: 58px;
//     line-height: 68px;
//     width: 50%;
// }

// // Get in touch, Blog
// h2 {
//     font-size: 68px;
//     line-height: 64px;
// }

// // Learn new., Upcoming..
// h3 {
//     font-size: 43px;
//     line-height: 58px;
//     letter-spacing: 2.7px;
// }

// // Discover, New locations..
// h4 {
//     font-size: 2rem; 
//     line-height: 58px;
//     letter-spacing: 2.5px;
// }


.logo {
    font-family: $secondaryFont;
    color: $primaryTextColor;
    font-size: 1.5rem;
    line-height: 24px;
    letter-spacing: 1.7px;
}

// comments
.blog-comments h4 {
    letter-spacing: 4.3px;
    color: $tertiaryColor;
}

// Our missions, recent posts (aside)
h5 {
    font-size: 35px;
    letter-spacing: 2.9px;
}

a {
    display: block;
    font-family: $secondaryFont;
    color: $secondaryTextColor;
    text-transform: lowercase;
    text-align: center;
    font-size: 1.35rem;
    line-height: 32px;
    letter-spacing: 1.4px;
    text-decoration: none;
    width: 240px;
    padding: 10px;
    background: $secondaryColor;
}

// Image styles

.right-shadow {
    box-shadow: 15px 30px 0px 0px $accentColor;
}

.left-shadow {
    box-shadow: -30px 30px 0px -7.5px $accentColor;
}

.left-shadow-small {
    box-shadow: -15px 15px 0px $accentColor;
}

// Forms

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    input[id="name"],
    input[id="email"] {
        // STRIP DEFAULT STYLES
        width: calc(50% - 30px);
        border-bottom: 2px solid $accentColor;
    }

    textarea,
    button[type="submit"] {
        width: 100%;
    }

    input[id="name"],
    input[id="email"],
    textarea {
        padding: 30px;
        margin: 30px 0;
    }

    textarea {
        border: 2px solid $accentColor;
    }
}


//  Footer
footer {
    background: $tertiaryColor;
    color: $secondaryTextColor;

    p {
        margin: 0;
        text-align: center;
    }
}
