.header-top-bar {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.logo {
    font-family: $secondaryFont;
    color: $primaryTextColor;
    font-size: 1.5rem;
    line-height: 24px;
    letter-spacing: 1.7px;
    margin-top: 0;
}

nav {

    li {
        list-style: none;
        display: inline-block;
        margin-left: 40px;

        a {
            font-weight: bold;
            font-size: 1rem;
            line-height: 29px;
            letter-spacing: 1.4px;
            text-align: center;
            text-transform: uppercase;
            font-family: $primaryFont;
            color: $secondaryColor;
            display: block;
    
            &:hover,
            &:focus {
                border-bottom: 2px solid $accentColor;
            }
        }
    }
}

.header-home {
    background-image: url(../assets/header-home.jpg);
    background-size: cover;
    background-position: center;
    height: 95vh;
    position: relative;

    h1 {
        font-size: 2.9rem;
        line-height: 3.4rem;
        width: 650px;
    }
}

.home-box-img {
    width: 60%;
    position: absolute;
    left: 0;
    bottom: -150px;
}

.header-blog {
    background-image: url(../assets/blog-header.jpg);
    background-size: cover;
    height: 60vh;
}

.header-contact {
    background-image: url(../assets/contact-header.jpg);
    background-size: cover;
    height: 60vh;
}


// SLIDE-OUT NAVIGATION

header {
    label {
        position: fixed;
        right: 30px;
        top: 30px;
        font-size: 1.5rem;
        z-index: 10;
        display: none;

        .fa-bars {
            color: #fff;
            position: relative;

            &::after {
                content: '';
                display: block;
                height: 50px;
                width: 70px;
                background: $accentColor;
                position: absolute;
                top: -10px;
                left: -12px;
                z-index: -1;
            }
        }
    }

    input[id="menu-toggle"] {
        display: none;
    }

}


.header-nav {
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    z-index: 8;
    padding: 80px 0;
    background: $secondaryColor; 
    transition: 0.3s all;   

    li {
        display: block;
        margin: 0;
        border-bottom: 1px solid $accentColor;
        
        &:first-of-type {
            border-top: 1px solid $accentColor;
        }
    }
    
    a {
        color: #fff;
        font-size: 1.5rem;
        padding: 40px;
        transition: 0.3s all;

        &:hover,
        &:focus {
            background: $accentColor;
            border: none;
        }
    }
}