.techniques-section,
.connect-section {
    h2 {
        color: $secondaryColor;
        font-size: 2.15rem;
        line-height: 2.9rem;
        letter-spacing: 2.7px;
    }
}

.techniques-section {
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    border: 1px dashed lime;

    h2 {
        margin-top: 10px;
    }

    div {
        padding: 50px 0;
    }

    div.techniques-text-container {
        width: calc(70% - 40px);
    }

    button {
        @include buttonStyles($secondaryColor, $secondaryTextColor);
    }
}


.gallery,
.discover-section {
    background: $secondaryColor;
    color: $secondaryTextColor;
}

.gallery-container {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;

    img {
        width: calc(100%/3 - 25px);
    }
}

.discover-section,
.search-section {
    h3 {
        font-size: 2rem;
        line-height: 2.9rem;
        letter-spacing: 2.5px;
    }
}

.discover-section {
    padding: 0;

    h3 {
        color: $secondaryTextColor;
    }
    
    button {
        @include buttonStyles($primaryColor, $primaryTextColor);
        margin-top: 20px;
    }
}

.discover-container,
.locations-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .discover-box,
    .locations-box {
        max-width: calc(50% - 80px);
    }
    
    .discover-img-container img,
    .locations-img-container img {
        width: 100%;
    }

    .discover-text {
        padding-right: 7.5vw;
    }
    
    .locations-text {
        padding-left: 7.5vw;
    }

    .locations-img-container {
        order: 1;
        position: relative;
        bottom: -40px;
    }

    .discover-img-container {
        position: relative;
        top: -40px;
    }
}

.connect-section {
    display: flex;
    flex-wrap: wrap;

    .connect-container {
        width: 50%;
        display: flex;

        .connect-icon {
            min-width: 60px;
        }
    }
}

.connect-icon i {
        font-size: 1.5rem;
        color: $secondaryTextColor;
        position: relative;

        border: 1px dashed deeppink;

    // Use transform -50% trick??/
    //  or separate div
    &::after {
        content: '';
        background: $accentColor;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: -15px;
        left: -15px;
        z-index: -1;

    }
}

.banner-container img {
    width: 100%;
}

.search-section {
    text-align: center;

    h3 {
        color: $secondaryColor;
    }

    button {
        @include buttonStyles($secondaryColor, $secondaryTextColor);
        margin-top: 20px;
    }
}

// CONTACT PAGE

.contact-section {
    display: flex;
    padding: 0;
}

.contact-form {
    position: relative;
    top: -110px;
    width: 70%;
    @include formStyles($secondaryColor, $secondaryTextColor);
    
    input[id="name"],
    input[id="email"],
    textarea {
        @include formStyles($secondaryColor, $secondaryTextColor);
    }

    button {
        @include buttonStyles($primaryColor, $primaryTextColor);
    }
}

.contact-info {
    padding: 100px 0 0 100px;

    p:not(:first-of-type) {
        margin: 0;
    }
}

.contact-social-icons {
    a {
        font-size: 1.2rem;
        display: inline-block;
        margin-right: 10px;
        transition: 0.3s all;

        &:hover,
        &:focus {
            color: $accentColor;
        }
    }
}
