.techniques {
    padding-top: 150px;
    display: flex;
}

.events-section {
    display: flex;
    flex-wrap: wrap;

    .event-container {
        width: 50%;
    }

    i {
        font-size: 1.5rem;
        color: $secondaryTextColor;
        position: relative;

        border: 1px dashed deeppink;
    }

    // Use transform -50% trick??/
    //  or separate div
    i::after {
        content: '';
        background: $accentColor;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: -15px;
        left: -15px;
        z-index: -1;

    }
}


.gallery,
.discover {
    background: $secondaryColor;
    color: $secondaryTextColor;
    
    h5 {
        color: $secondaryTextColor;
    }
}

.gallery img {
    width: calc(30%);
}

.discover-container,
.locations-container {
    display: flex;
}

.locations-container img {
    order: 1;
}

.events {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 40%;
}


.banner-container img {
    width: 100%;
}

.search {
    text-align: center;

    a {
        margin: 0 auto;
    }
}




// Blog styles

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-section {
    width: 65%;
}

aside {
    width: 25%;
}

article,
.aside-content {
    background: $secondaryColor;
    
    p {
        color: $secondaryTextColor;
    }
}

article {
    border-right: 15px solid $secondaryColor;
    box-shadow: 15px 15px 0 $accentColor;

    img {
        width: 100%;
        position: relative;
        top: -100px;
    }

    p.blog-date {
        color: $primaryColor;
    }
}



.blog-comments {

    p.comment-date {
        color: $secondaryColor;
        font-weight: bold;
    }
}

.blog-comment {
    display: flex;
}

.comment-form {
    // @include formStyles($primaryColor, $primaryTextColor);

    input[id="name"],
    input[id="email"],
    textarea {
        @include formStyles($primaryColor, $primaryTextColor);
    }
}

// Contact page

.contact-container {
    display: flex;
}

.contact-form {
    position: relative;
    bottom: 100px;
    width: 70%;
    
    @include formStyles($secondaryColor, $secondaryTextColor);
    
    input[id="name"],
    input[id="email"],
    textarea {
        @include formStyles($secondaryColor, $secondaryTextColor);
    }
}

.contact-info {
    padding: 50px 0 100px 60px;

    p:not(:first-of-type) {
        margin: 0;
    }
    
}
