// RESPONSIVE STYLES

@media (max-width: 1600px) {
    .discover-text {
        padding-right: 7.5vw;
    }
    
    .locations-text,
    .blog-text-container,
    .comments-section,
    .comment-form-section {
        padding-left: 7.5vw;
    }
}

@media (max-width: 1250px) {

    .discover-img-container {
        top: -120px;
    }

    .locations-text {
        position: relative;
        top: -60px;
    }
}

@media (max-width: 980px) {

    // slide-out nav styles
    .header-nav {
        position: fixed;
        right: -100%;
        top: 0;
        width: 100%;
        z-index: 8;
        padding: 55px 0 40px 0;
        background: $secondaryColor; 
        transition: 0.3s all;   
        
        li {
            display: block;
            margin: 0;
            border-bottom: 1px solid $accentColor;
            
            &:first-of-type {
                border-top: 1px solid $accentColor;
            }

            a {
                color: #fff;
                font-size: 1.5rem;
                padding: 20px;
                transition: 0.3s all;
                
                &:hover,
                &:focus {
                    background: $accentColor;
                    border: none;
                }
            }
        }
    }

    // switch to slide-out nav
    header {
        label {
            display: inline-block;
        }
        
        input[id="menu-toggle"]:checked + .header-nav {
            right: 0;
        }
    }
    
    .home-box-img {
        bottom: -90px;
        width: 50%;
    }

    .header-home,
    .header-blog,
    .header-contact {
        height: 500px;
    }

    .header-home h1 {
        font-size: 2.5rem;
        line-height: 2.9rem;
        width: 75%;
        margin-top: 30px;
    }
    
    .techniques-section {
        padding-top: 60px;
    }

    .connect-container {
        width: 100%;
        margin: 30px 0;
    }

    .discover-container,
    .locations-container {
        flex-wrap: wrap;
        text-align: center;
    }

    .discover-img-container,
    .locations-img-container {
        width: calc(100% - 20px);
    }

    .discover-text,
    .locations-text {
        width: 85%;
        margin: 0 auto;
        padding: 0;
    }

    .discover-text {
        position: relative;
        top: -60px;
    }

    .locations-text {
        position: static;
        padding: 60px 0 40px;
    }
        
    .locations-img-container {
        order: initial;
        bottom: 0;
        right: -20px;
    }

    // BLOG
    .blog-container {
        flex-wrap: wrap;
    }
    
    .blog-section,
    .blog-aside {
        width: 100%;
    }

    .blog-aside-container {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
    
    .blog-aside-img-container {
        width: 30%;
    }

    .blog-aside-text-container {
        width: calc(70% - 30px);
        padding: 30px;
    }

    .comment-form {
        padding-right: 0;

        input[id="name"],
        input[id="email"] {
            width: 100%;
            margin: 10px 0;
        }
    }


    // CONTACT page
    .contact-section {
        flex-wrap: wrap;
    }

    .contact-form {
        width: calc(100% - 20px);

        input[id="name"],
        input[id="email"] {
            width: 100%;
            margin: 10px 0;
        }
    }

    .contact-info {
        width: 100%;
        padding: 0 0 100px 0;
        text-align: center;
    }

    .contact-social-icons {
        a {
            font-size: 2.5rem;
            display: inline-block;
            margin: 30px;
            transition: 0.3s all;
    
            &:hover,
            &:focus {
                color: $accentColor;
            }
        }
    }
} 

@media (max-width: 650px) {
    .header-home h1 {
        font-size: calc(2.5rem - 1.2vw);
        width: 70%;
        line-height: 1.3;
    }

    .home-box-img {
        bottom: -50px;
        width: 65%;
    }

    .techniques-section {
        flex-direction: column;
    }

    .techniques-text-container {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    
    .techniques-img-container {
        order: -1;
        width: calc(100% - 20px);
        align-self: flex-end;
    }

    .gallery-container {
        img {
            width: calc(50% - 25px);
        }

        img:nth-of-type(3) {
            display: none;
        }
    }

    .connect-container {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .connect-icon {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .connect-text h2,
    .connect-text p {
        text-align: center;
    }
}

@media (max-width: 480px) {

    .wrapper {
        width: 92%;
    }

    .header-home h1 {
        width: 70%;
        line-height: 1.5;
    }

    .home-box-img {
        // bottom: -80px;
        // width: 70%;
        display: none;
    }

    .techniques-img-container {
        padding-top: 0;
    }

    .gallery-container {
        flex-wrap: wrap;

        img {
            width: 100%;
        }

        img:first-of-type {
            // margin-bottom: 50px;
        }

        img:nth-of-type(2) {
            display: none;
        }
    }

    .blog-aside-container {
        flex-direction: column;
        margin-top: 0;
    }

    .blog-aside-img-container,
    .blog-aside-text-container {
        width: 100%;
    }

    .blog-aside-text-container {
        padding-top: 70px;
    }

    .blog-aside-img-container {
        right: 0;
        height: 200px;

        // THISSSS vvvvvvv
        display: none;
        
        img {
            width: auto;
            object-fit: contain;
        }
    }

    .commenter-img {
        display: none;
    }

    .contact-form {
        width: 100%;
    }
}