// RESPONSIVE STYLES

@media (max-width: 980px) {
    
    // slide-out nav styles
    .header-nav {
        position: fixed;
        right: -100%;
        top: 0;
        width: 100%;
        z-index: 8;
        padding: 80px 0;
        background: $secondaryColor; 
        transition: 0.3s all;   
        
        li {
            display: block;
            margin: 0;
            border-bottom: 1px solid $accentColor;
            
            &:first-of-type {
                border-top: 1px solid $accentColor;
            }
        }
        
        a {
            color: #fff;
            font-size: 1.5rem;
            padding: 30px;
            transition: 0.3s all;
            
            &:hover,
            &:focus {
                background: $accentColor;
                border: none;
            }
        }
    }


    header {
        height: 500px;
        
        // switch to slide-out nav
        label {
            display: inline-block;
        }

        input[id="menu-toggle"]:checked + .header-nav {
            right: 0;
        }
    }
} 
