// Variables

$primaryColor: #CCEDFB;
$secondaryColor: #1A315C; 
$tertiaryColor: #161515; //second black
$accentColor: #0CADC0;

$primaryTextColor: #1E1713; // first black
$secondaryTextColor: #fff;


$primaryFont: 'Lato', sans-serif;
$secondaryFont: 'Pacifico', cursive;
$bodyFontSize: 1rem;

// Mixins

