// Variables

$primaryColor: #CCEDFB;
$secondaryColor: #1A315C; 
$tertiaryColor: #161515; //second black
$accentColor: #0CADC0;

$primaryTextColor: #1E1713; // first black
$secondaryTextColor: #fff;

$primaryFont: 'Lato', sans-serif;
$secondaryFont: 'Pacifico', cursive;
$bodyFontSize: 1rem;

// Mixins
// Are good for when many properties have the same value, but only 1 or 2 are different, so we put them through as arguments.
// Since it's formStyles (not structure like display: flex;, just put padding, colours, etc here? basically if we strip styles, it should just look like default form?

@mixin formStyles($formColor, $formTextColor) {
    background: $formColor;
    color: $formTextColor;
}

@mixin buttonStyles($bgColor, $textColor) {
    background: $bgColor;
    color: $textColor;
    font-family: $secondaryFont;
    text-transform: lowercase;
    text-align: center;
    border: 2px solid $bgColor;
    transition: 0.3s all;

    &:hover,
    &:focus {
        background: $textColor;
        color: $bgColor;
    }
}