// Variables

$primaryColor: #CCEDFB;
$secondaryColor: #1A315C; 
$tertiaryColor: #161515; //second black
$accentColor: #0CADC0;

$primaryTextColor: #1E1713; // first black
$secondaryTextColor: #fff;

$primaryFont: 'Lato', sans-serif;
$secondaryFont: 'Pacifico', cursive;
$bodyFontSize: 1rem;

// Mixins

@mixin formStyles($formColor, $formTextColor) {
    background: $formColor;
    color: $formTextColor;
}

@mixin inputStyles($inputColor, $inputTextColor, $placeholderColor) {
    background: $inputColor;
    color: $inputTextColor;
    border-bottom: 2px solid $accentColor;

    &::placeholder {
        color: $placeholderColor;
        opacity: 0.7;
    }
}

@mixin buttonStyles($bgColor, $textColor) {
    background: $bgColor;
    color: $textColor;
    font-family: $secondaryFont;
    text-transform: lowercase;
    text-align: center;
    border: 2px solid $bgColor;
    transition: 0.3s all;

    &:hover,
    &:focus {
        background: $accentColor;
        color: $secondaryTextColor;
        border: 2px solid $secondaryTextColor;
    }
}

// Mixins for padding:
// Based on 85% wrapper
@mixin paddingLeft {
    padding-left: 7.5vw;   
}

@mixin paddingRight {
    padding-right: 7.5vw;
}

// Based on 92% wrapper
@mixin paddingLeftSmall {
    padding-left: 4vw;
}

@mixin paddingRightSmall {
    padding-right: 4vw;
}